body{
  margin: 0;
  padding: 0;
}

/* Header */
.navbar-overlay-outer{
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;    
  height: 10%;
}

.navbar-overlay-inner{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 5vw;
  padding: 2vh 6vw;
  display: flex;
  align-items: center;
}

.navbar-overlay-inner a{
  font-size: 16pt;
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-overlay-inner a:hover{
  color:orange;
}

.navbar-overlay-inner > div[target=left]{
  background-color: transparent;
  width: 20%;
  text-align: left;
}

.navbar-overlay-inner > div[target=center]{
  background-color: transparent;
  text-align: center;
  width: 60%;
}

.navbar-overlay-inner > div[target=center] a{
  display: inline-block;
  padding: 0 30px;
}

.navbar-overlay-inner > div[target=right]{
  background-color: transparent;
  width: 20%;
  text-align: right;
}

/* Custom Button */


.custom-button{
  background-color: transparent;
  border: solid;
  border-width: 10px;
  border-color: transparent;
  color: black;
  padding: 0;
  text-align: center;
  text-decoration: none;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  width: 10px;
  cursor: pointer;
}

.custom-button:hover{
  background-color: transparent;
  color: orange;
}

/*Page Layout*/
.pagesec{
 width:auto;
 height:auto; 
}

.frontpage{
  margin-top: 13vh;
  padding-top: 11vh;
  padding-right: 11vw;
  padding-left: 11vw;
  padding-bottom: 14.2vh;
  margin-left: auto;
}

.frontpage > div[target=main]{
  text-align: left;
  width: 15vw;
}

.frontpage > div[target=main] h1{
  display: inline-block;
  padding-top: 7vh;
  font-weight: 300;
  font-size: 80px;
}

.frontpage > div[target=secondary]{
  text-align: center;
  padding-bottom: 13.4vh ;
}

.frontpage > div[target=secondary] h1{
  display: inline-block;
  padding-top: 5vh;
  margin-bottom: 11vh;
  font-weight: 300;
  font-size: 80px;
}

.frontpage > div[target=secondary] a{
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
}

.frontpage > div[target=third]{
  text-align: center;
  padding-bottom: 0;
  height: 14.8vh;
}

.frontpage > div[target=third] h1{
  display: inline-block;
  padding-top: 5vh;
  margin-bottom: 11vh;
  font-weight: 300;
  font-size: 80px;
}

.frontpage > div[target=third] a{
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  text-decoration: none;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
}

.frontpage p{
  padding-left: 1vw;
  margin-top: 0px;
  font-size: 20px;
}

.lowertext{
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* gallery pages */

.wrapper{
  padding: 9vh 11vw 11vh 11vw;
}

/* gallery */

* {
  box-sizing: border-box;
}

.row {
 margin: 0;
 background: transparent;
 /*background: rgba(255,255,255,.5);*/
}

.row,
.row > .column {
  padding: 10px;
}

.column {
  float: left;
  width: 33.33333%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(200,200,200);
  transition: all 250ms ease-in-out;
  position: relative;
}

.content:hover{
  top: -2px;
}

.content img{
  border-radius: 10px 10px 0px 0px;
}

.content h1{
  font-size: 15pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.content p{
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
}

.content button{
  background-color: transparent;
  padding: 0;
  border: none;
  text-align: center;
  cursor: pointer;  
}

.content button a{
  text-decoration: none;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.content button a:hover{
  color: orange;
}

.buttonholder{
  text-align: center;
  padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

.description{
  height: 150px;
}

/* Sketch Pages*/
.sketchholder{
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 38vh;
}

.sketchholder a{
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}

.sketchholder button{
  background-color: transparent;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  text-align: center;
  cursor: pointer;  
}

.sketchholder button a{
  text-decoration: none;
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.sketchholder button a:hover{
  color: orange;
}

#sketchholder{
  height: 60vh;
  margin-bottom: 20px;
  margin-top: 20px;
}

.scratchholder{
  padding-top: 20px;
  padding-bottom: 20px;
}